* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body,div{
  background-image: url("https://img.freepik.com/free-photo/modern-futuristic-sci-fi-background_35913-2150.jpg?w=1060&t=st=1687709454~exp=1687710054~hmac=7fffc78a59b301b978f097b9054d09c532a65d69ffb29099b56701201c58f2d3");
}
#canvas {
  border: 5px solid black;
  background-image: url("particle.gif");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#player,#layer1,#layer2,#layer3,#layer4,#layer5 ,#enemy_fly,#enemy_plant,#enemy_spider_big,#fire,#collision,#layer6{
  display: none;
}
